In [39]:
import os
from bs4 import BeautifulSoup as bs
# import pymongo
import requests
import pandas as pd
#! pip install splinter
from splinter import Browser

In [40]:
# conn = 'mongodb://localhost:27017'
# client = pymongo.MongoClient(conn)

In [41]:
#!which chromedriver

In [42]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': 'C:/Users/jenzy/Desktop/Web-Scraping-Challenge/Missions_To_Mars/chromedriver'}
browser = Browser('chrome', **executable_path)

In [43]:
url= 'https://mars.nasa.gov/news'
#response = requests.get(url)
browser.visit(url)

In [44]:
html = browser.html
soup = bs(html, 'html.parser')

element = soup.select_one('ul.item_list li.slide')

In [45]:
#finding html format
#print(soup.prettify())

In [46]:
#Scrape the https://mars.nasa.gov/news and collect the latest News Title and Paragraph Text. 
#Assign the text to variables that you can reference later.

In [47]:
title = element.find('div', class_="content_title").get_text()
title

'NASA to Host Briefing to Preview First Mars Helicopter Flights'

In [48]:
paragraph= element.find('div', class_= "rollover_description_inner").get_text()
paragraph

'Members of the projects will lay out the steps necessary before the helicopter attempts its historic test flights. '

In [49]:
#Visit the url for JPL Featured Space Image
#https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars

In [50]:
jplurl= 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(jplurl)

In [51]:
button= browser.find_by_css('button.btn.btn-outline-light')
button.click()

In [52]:
html = browser.html
soup = bs(html, 'html.parser')

In [53]:
# Relative path of image
image_url= soup.select_one('div.fancybox-inner img').get('src')
image_url

'image/featured/mars2.jpg'

In [54]:
# Absolute path
featured_image_url= f'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/{image_url}'
featured_image_url

'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars2.jpg'

In [55]:
#Review html format
#print(soup.prettify())

In [56]:
#Visit the Mars Facts webpage https://space-facts.com/mars
# use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

In [57]:
url = 'https://space-facts.com/mars/'
response = requests.get(url)
soup = bs(response.text, 'html.parser')

In [58]:
tables = pd.read_html(url)
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [59]:
#  Use Pandas to convert the data to a HTML table string.

In [60]:
df = tables[0]
df.columns = ['Fact', 'Value']
df['Fact'] = df['Fact'].str.replace(':', '')
df

                  Fact                          Value
0  Equatorial Diameter                       6,792 km
1       Polar Diameter                       6,752 km
2                 Mass  6.39 × 10^23 kg (0.11 Earths)
3                Moons            2 (Phobos & Deimos)
4       Orbit Distance       227,943,824 km (1.38 AU)
5         Orbit Period           687 days (1.9 years)
6  Surface Temperature                   -87 to -5 °C
7         First Record              2nd millennium BC
8          Recorded By           Egyptian astronomers

In [61]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Fact</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [62]:
# Visit the USGS Astrogeology site https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars
# to obtain high resolution images for each of Mar's hemispheres.

In [63]:
base_url = 'https://astrogeology.usgs.gov'
url = base_url + '/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [64]:
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')

In [65]:
import time

In [66]:
items = soup.find_all('div', class_='item')

In [67]:
urls = []
name = []
for item in items:
    urls.append(base_url + item.find('a')['href'])
    name.append(item.find('h3').text.strip())
print(urls)
name

['https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced', 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced', 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced', 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced']

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [68]:
browser.visit(urls[0])
html = browser.html
soup = bs(html, 'html.parser')
oneurl = base_url+soup.find('img',class_='wide-image')['src']
oneurl

'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'

In [69]:
img_urls = []
for oneurl in urls:
    browser.visit(oneurl)
    html = browser.html
    soup = bs(html, 'html.parser')

    oneurl = base_url+soup.find('img',class_='wide-image')['src']
    img_urls.append(oneurl)
    
img_urls

['https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg']

In [70]:
#Save both the image url string for the full resolution hemisphere image, 
#and the Hemisphere title containing the hemisphere name. 
hemisphere_image_urls = []

for i in range(len(name)):
    hemisphere_image_urls.append({'title':name[i],'img_url':img_urls[i]})

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [71]:
#Append the dictionary with the image url string and the hemisphere title to a list. 
for i in range(len(hemisphere_image_urls)):
    print(hemisphere_image_urls[i]['title'])
    print(hemisphere_image_urls[i]['img_url'] + '\n')

Cerberus Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg

Schiaparelli Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg

Syrtis Major Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg

Valles Marineris Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg