In [1]:
import os
from bs4 import BeautifulSoup as bs
# import pymongo
import requests
import pandas as pd

In [2]:
# conn = 'mongodb://localhost:27017'
# client = pymongo.MongoClient(conn)

In [3]:
url= 'https://mars.nasa.gov/news'
response = requests.get(url)

In [4]:
soup = bs(response.text, 'html.parser')

In [5]:
#finding html format
#print(soup.prettify())

In [6]:
#Scrape the https://mars.nasa.gov/news and collect the latest News Title and Paragraph Text. 
#Assign the text to variables that you can reference later.

In [7]:
allarticles = soup.find_all('div', class_="content_title")
allarticles

[<div class="content_title">
 <a href="/news/8882/nasas-perseverance-drives-on-mars-terrain-for-first-time/">
 NASA's Perseverance Drives on Mars' Terrain for First Time
 </a>
 </div>,
 <div class="content_title">
 <a href="/news/8880/nasa-awards-mars-ascent-propulsion-system-contract-for-sample-return/">
 NASA Awards Mars Ascent Propulsion System Contract for Sample Return
 </a>
 </div>,
 <div class="content_title">
 <a href="/news/8878/nasa-to-provide-update-on-perseverance-firsts-since-mars-landing/">
 NASA to Provide Update on Perseverance ‘Firsts' Since Mars Landing
 </a>
 </div>,
 <div class="content_title">
 <a href="/news/8870/nasas-mars-perseverance-rover-provides-front-row-seat-to-landing-first-audio-recording-of-red-planet/">
 NASA's Mars Perseverance Rover Provides Front-Row Seat to Landing, First Audio Recording of Red Planet
 </a>
 </div>,
 <div class="content_title">
 <a href="/news/8868/nasa-to-reveal-new-video-images-from-mars-perseverance-rover/">
 NASA to Reveal New Video, Images From Mars Perseverance Rover
 </a>
 </div>,
 <div class="content_title">
 <a href="/news/8860/nasas-next-mars-rover-is-ready-for-the-most-precise-landing-yet/">
 NASA's Next Mars Rover Is Ready for the Most Precise Landing Yet
 </a>
 </div>]

In [8]:
news_headlines = []
# Loop over elements
for allarticles in allarticles:
    if (allarticles.a):
        # And the anchor has non-blank text...
        if (allarticles.a.text):
            # Append the td to the list
            news_headlines.append(allarticles)
news_headlines

[<div class="content_title">
 <a href="/news/8882/nasas-perseverance-drives-on-mars-terrain-for-first-time/">
 NASA's Perseverance Drives on Mars' Terrain for First Time
 </a>
 </div>,
 <div class="content_title">
 <a href="/news/8880/nasa-awards-mars-ascent-propulsion-system-contract-for-sample-return/">
 NASA Awards Mars Ascent Propulsion System Contract for Sample Return
 </a>
 </div>,
 <div class="content_title">
 <a href="/news/8878/nasa-to-provide-update-on-perseverance-firsts-since-mars-landing/">
 NASA to Provide Update on Perseverance ‘Firsts' Since Mars Landing
 </a>
 </div>,
 <div class="content_title">
 <a href="/news/8870/nasas-mars-perseverance-rover-provides-front-row-seat-to-landing-first-audio-recording-of-red-planet/">
 NASA's Mars Perseverance Rover Provides Front-Row Seat to Landing, First Audio Recording of Red Planet
 </a>
 </div>,
 <div class="content_title">
 <a href="/news/8868/nasa-to-reveal-new-video-images-from-mars-perseverance-rover/">
 NASA to Reveal New Video, Images From Mars Perseverance Rover
 </a>
 </div>,
 <div class="content_title">
 <a href="/news/8860/nasas-next-mars-rover-is-ready-for-the-most-precise-landing-yet/">
 NASA's Next Mars Rover Is Ready for the Most Precise Landing Yet
 </a>
 </div>]

In [9]:
# news_articles= []
# Print only the headlines
for x in range(2):
    print(news_headlines[x].text)

NASA's Perseverance Drives on Mars' Terrain for First Time




NASA Awards Mars Ascent Propulsion System Contract for Sample Return

In [10]:
#article teaser paragraphs
article_teaser = soup.find_all('div', class_="rollover_description_inner")
article_teaser

[<div class="rollover_description_inner">
 The first trek of the agency’s largest, most advanced rover yet on the Red Planet marks a major milestone before science operations get under way.
 </div>,
 <div class="rollover_description_inner">
 The award moves NASA and ESA a step closer to realizing Mars Sample Return, an ambitious planetary exploration program that will build upon decades of science, knowledge, and experience.
 </div>,
 <div class="rollover_description_inner">
 Mission team members are participating in a virtual teleconference to discuss milestones achieved so far since the Feb. 18 landing and those to come.
 </div>,
 <div class="rollover_description_inner">
 The agency’s newest rover captured first-of-its kind footage of its Feb. 18 touchdown and has recorded audio of Martian wind.


 </div>,
 <div class="rollover_description_inner">
 First-of-its kind footage from the agency’s newest rover will be presented during a briefing this morning.
 </div>,
 <div class="rollover_description_inner">
 What to expect when the Mars 2020 Perseverance rover arrives at the Red Planet on Feb. 18, 2021.
 </div>]

In [11]:
#article_teaser= []
# Print only the headlines
for x in range(2):
    print(article_teaser[x].text)

The first trek of the agency’s largest, most advanced rover yet on the Red Planet marks a major milestone before science operations get under way.


The award moves NASA and ESA a step closer to realizing Mars Sample Return, an ambitious planetary exploration program that will build upon decades of science, knowledge, and experience.

In [12]:
#Visit the url for JPL Featured Space Image
#https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars

In [13]:
jplurl= 'https://www.jpl.nasa.gov/images?search=&category=Mars'

response = requests.get(url)
soup = bs(response.text, 'html.parser')

In [14]:
#Review html format
#print(soup.prettify())

In [15]:
# Retrieve featured image link
image_path = soup.find_all('img')[2]["src"]
featured_image_url = jplurl + image_path
print(featured_image_url)

https://www.jpl.nasa.gov/images?search=&category=Mars/assets/loading_320x240.png

In [16]:
#Visit the Mars Facts webpage https://space-facts.com/mars
# use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

In [17]:
url = 'https://space-facts.com/mars/'
response = requests.get(url)
soup = bs(response.text, 'html.parser')

In [18]:
tables = pd.read_html(url)
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [19]:
#  Use Pandas to convert the data to a HTML table string.

In [20]:
df = tables[0]
df.columns = ['Fact', 'Value']
df['Fact'] = df['Fact'].str.replace(':', '')
df

                  Fact                          Value
0  Equatorial Diameter                       6,792 km
1       Polar Diameter                       6,752 km
2                 Mass  6.39 × 10^23 kg (0.11 Earths)
3                Moons            2 (Phobos & Deimos)
4       Orbit Distance       227,943,824 km (1.38 AU)
5         Orbit Period           687 days (1.9 years)
6  Surface Temperature                   -87 to -5 °C
7         First Record              2nd millennium BC
8          Recorded By           Egyptian astronomers

In [21]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Fact</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [22]:
# Visit the USGS Astrogeology site https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars
# to obtain high resolution images for each of Mar's hemispheres.

In [23]:
# Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. 
# Use a Python dictionary to store the data using the keys `img_url` and `title`.

In [24]:
# Append the dictionary with the image url string and the hemisphere title to a list. 
#This list will contain one dictionary for each hemisphere.

In [25]:
jplurl= 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'

response = requests.get(url)
soup = bs(response.text, 'html.parser')